<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <appender name="console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--            %black(%d{ISO8601}) [%X{X-B3-TraceId:-}] %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable-->
            <Pattern>%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] [app_name=STARTER]
                [trace_id=%X{X-B3-TraceId}] [parent_span_id=%X{X-B3-ParentSpanId}] [span_id=%X{X-B3-SpanId}] %logger{36}
                - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="jsonOnConsole" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>true</prettyPrint>
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
    </root>

    <logger name="id.co.ricky" level="info" additivity="false">

        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework.ws.client.MessageTracing.sent" level="TRACE"/>
    <logger name="org.springframework.ws.client.MessageTracing.received" level="TRACE"/>
</configuration>